<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="osex-ipm-hello.ZPM">
    <Module>
      <Name>osex-ipm-hello</Name>
      <Version>1.0.0</Version>
      <Description>Hello World!</Description>
      <Author>
        <Person>Jani Hur</Person>
        <Organization>metsankulma.net</Organization>
        <CopyrightDate>2024</CopyrightDate>
        <License>MIT</License>
      </Author>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="OSEX.ipm.hello.PKG"/>
    </Module>
  </Document>
</Export>