<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="osex-ipm-demo.ZPM">
    <Module>
      <Name>osex-ipm-demo</Name>
      <Version>1.0.1</Version>
      <Description>A simple demo application illustrating IPM functionality.</Description>
      <Author>
        <Person>Jani Hur</Person>
        <Organization>metsankulma.net</Organization>
        <CopyrightDate>2024</CopyrightDate>
        <License>MIT</License>
      </Author>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>osex-ipm-hello</Name>
          <Version>1.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>osex-ipm-numbers</Name>
          <Version>1.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>osex-ipm-ipmtools</Name>
          <Version>1.*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="OSEX.ipm.demo.PKG"/>
      <Resource Name="OSEX.ipm.demo.GBL"/>
      <!-- a custom resource processor example for a json file -->
      <Resource Name="example.json" ProcessorClass="OSEX.ipm.ipmtools.CustomResourceProcessor" Foo="from manifest Resource attribute" Bar="from manifest Resource attribute"/>
      <!-- executed in default phase -->
      <Invoke Class="OSEX.ipm.demo.Main" Method="SetDefaultName">
        <Arg>Joe Black</Arg>
      </Invoke>
      <Invoke Class="OSEX.ipm.demo.Main" Method="SetInstallDir">
        <!-- expression example -->
        <Arg>#{$system.Util.GetEnviron("ISC_PACKAGE_INSTALLDIR")}</Arg>
      </Invoke>
      <!-- executed in unconfigure phase (uninstall) -->
      <Invoke Phase="Unconfigure" Class="OSEX.ipm.demo.Main" Method="Unconfigure"/>
    </Module>
  </Document>
</Export>